<%include partials/header %>
<div class="container">
    <header class="jumbotron">
         <div>
               <h1>Tasted Whiskys</h1> 
               <p> View all Whiskies I have ever tasted</p>
               <p>
                   <a class="btn btn-primary btn-lg" href="/">click to home</a>    
               </p>
              <table>
                  <tr>
                      <td id="totalWhisky">Whiskys total:  <%=count%></td>
                  </tr>  
              </table>
         </div>  
    </header>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>
                All Whiskies
            </h3>
        </div>
     </div>    
    <div class="row text-center" style="display:flex;flex-wrap: wrap;">
             <%whisky.forEach(function(whisky){%>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <div class="thumbnail">  
                            <div class="caption" id="caption">
                                 <h3 ><%=whisky.distillery%> <%=whisky.age%> <%=whisky.name%></h3>
                                 <button id="delete" onclick="deletion()" class="btn btn-secondary btn-sm delete">X</button>
                                 <script>
                                        function deletion(){
                                        var check = confirm("Do You really want to delete?");
                                        if (check == true){
                                            window.location.assign("/collection/<%=whisky._id%>/remove?_method=DELETE");
                                        }else {
                                            return false;
                                            }
                                        }
                                </script>
                            </div>     
                               
                            <img id="indexFoto" src="<%=whisky.image%>">
                            <p style="margin: 10px">
                                <a href="/collection/<%= whisky._id%>" class="btn btn-primary">see more</a>
                            </p>
                        </div>
                    </div>
                <% }); %>
    </div>     
</div>    
    <%include partials/footer %>