<%include partials/header %>
<div class="container">
    <header class="jumbotron">
         <div>
               <h1>Tasted Whiskys</h1> 
               <p> View all Whiskies I have ever tasted</p>
               <p>
                   <a class="btn btn-primary btn-lg" href="/homepage">click to home</a>    
               </p>
              <table>
                  <tr>
                      <td id="totalWhisky">Whiskys total:  <%=count%></td>
                  </tr>  
              </table>
         </div>  
    </header>
    <!-- Filter to come
    <div>
		<form action="/collection/filtered" method="GET">
			<div>
			    <label for="distillery">Distillery</label>
				<select name="distillery">
				    <%whisky.forEach(function(whisky){%>
					<option><%=whisky.distillery%></option>
				    <% }); %>
				</select>
			</div>
			<div>
			    <label for="age">Age</label>
				<select name="age">
				    <%whisky.forEach(function(whisky){%>
					<option><%=whisky.age%></option>
				    <% }); %>
				</select>
			</div>
			<div>
			    <label for="cask">Cask</label>
				<select name="cask">
				    <%whisky.forEach(function(whisky){%>
					<option><%=whisky.cask%></option>
				    <% }); %>
				</select>
			</div>
			<button>submit</button>
		</form>
	</div>	-->
    
    <div class="row">
        <div class="col-lg-12">
            <h3>
                All Whiskies
            </h3>
        </div>
     </div>  
     <div id="searchBar">
        <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for whisky..">
    </div>
    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>
    
    <div id="suche" class="row text-center" style="display:flex;flex-wrap: wrap;">
             <%whisky.forEach(function(whisky){%>
                    <div class="col-lg-4 col-md-3 col-sm-6 search">
                        <div class="thumbnail">  
                            <div class="caption">
                                 <h3><%=whisky.distillery%> <%=whisky.age%> <%=whisky.name%></h3>
                                 <button id="delete" onclick="deletion()" class="btn btn-secondary btn-sm delete">X</button>
                                 <script>
                                        function deletion(){
                                        var check = confirm("Do You really want to delete?");
                                        if (check == true){
                                            window.location.assign("/collection/<%=whisky._id%>/remove?_method=DELETE");
                                        }else {
                                            return false;
                                            }
                                        }
                                </script>
                            </div>
                            <%if (whisky.image === ""){%>
                            <img id="indexFoto" src="/image/<%=whisky.picture.fileName%>"> 
                            <% }else{ %>
                            <img id="indexFoto" src="<%=whisky.image%>">
                            <% } %>
                            <p style="margin: 10px">
                                <a href="/collection/<%= whisky._id%>" class="btn btn-primary">see more</a>
                            </p>
                        </div>
                    </div>
                <% }); %>
    </div>     
</div>    
    <%include partials/footer %>
    
  