<%include partials/header %>
<div class="container">
    <div id="show" class="row">
        <div class="col-lg">
          <table>
              <thead>
                  <tr>
                      <th colspan="2">Whisky Information for: <%=whisky.distillery%> <%=whisky.name%> <%=whisky.age%></th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                     <td class="showTableInfos">Date: </td>
                     <td><%=whisky.date%></td>
                  </tr>
                  <tr>
                     <td class="showTableInfos">Age: </td> 
                     <td><%=whisky.age%></td>
                  </tr>
                  <tr>
                     <td class="showTableInfos">Cask: </td> 
                     <td><%=whisky.cask%></td>
                  </tr>
                  <tr>
                     <td class="showTableInfos">Region: </td>
                     <td><%=whisky.region%></td>
                  </tr>
                  <tr>
                     <td class="showTableInfos">Taste: </td> 
                     <td><%=whisky.taste%></td>
                  </tr>
                  <tr>
                     <td class="showTableInfos">Comment </td> 
                     <td><%=whisky.comment%></td>
                  </tr>
                  <tr>
                      <td colspan="2">
                          <a class="btn btn-primary btn-lg btn-block" href="/collection">click to collection</a> 
                      </td>
                  </tr>
              </tbody>
          </table>
        </div>
        <div class="col-lg">
            <p>
                <img id="image" src="<%=whisky.image%>">
            </p>
        </div>
    </div>
</div>
